<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - WebApplicationAPP</title>


    <link rel="stylesheet" href="~/assets/css/main.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
@using Microsoft.AspNetCore.Identity

<body class="is-preload">

    <div id="page-wrapper">

        <header id="header">
            <div class="logo container">
                <div>
                    <h1>
                        <a asp-controller="Home" asp-action="Index" id="logo">
                            BancoLindo
                        </a>
                    </h1>
                    <p>Sistema bancario</p>
                </div>
            </div>
        </header>


        <nav id="nav">
            <ul>

                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if(User.IsInRole("Administrador")){
                    <li><a asp-controller="Caja" asp-action="Index">Cajas</a></li>
                    <li><a asp-controller="Comercio" asp-action="Index">Comercios</a></li>
                    <li><a asp-controller="ConfiguracionComercio" asp-action="Index">Configuración Comercio</a></li>
                    <li><a asp-controller="Usuario" asp-action="Index">Usuarios</a></li>
                    <li><a asp-controller="Sinpe" asp-action="Create">SINPE</a></li>
                    <li><a asp-controller="Reporte" asp-action="Index">Reportes</a></li>
                    <li><a asp-controller="Bitacora" asp-action="Index">Bitácora</a></li>
                    <li><a asp-controller="Servicio" asp-action="Index">Servicios</a></li>
                    <li><a asp-controller="Cita" asp-action="Index">Citas</a></li>
                    }
                     else if (User.IsInRole("Cajero"))
                     {
                      <li><a asp-controller="Caja" asp-action="Index">Cajas</a></li>
                     }
                }


                @if (User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Cuenta" asp-action="Logout">Cerrar Sesión</a></li>
                }
                else
                {
                    <li><a asp-controller="Cuenta" asp-action="Login">Login</a></li>
                    <li><a asp-controller="Cuenta" asp-action="Registro">Registrarse</a></li>
                }
            </ul>
        </nav>


        <section id="main">
            <div class="container">
                @RenderBody()
            </div>
        </section>


        <footer id="footer">
            <div class="container">

                <section>
                    <h2 class="major"><span>BancoLindo</span></h2>
                    <p>
                        Sistema de gestión integral:
                        Cajas, Comercios, Usuarios, Configuración SINPE,
                        Reportes y gestión de Citas.
                    </p>
                </section>

                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; 2026 BancoLindo</li>
                    </ul>
                </div>

            </div>
        </footer>

    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.dropotron.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
