@model WebApplicationAPP.Models.ConfiguracionComercio

<h2>Crear Configuración</h2>

<form asp-action="Create" method="post">

    <input asp-for="IdComercio" class="form-control mb-2" />

    <select asp-for="TipoConfiguracion" class="form-control mb-2">
        <option value="1">Plataforma</option>
        <option value="2">Externa</option>
        <option value="3">Ambas</option>
    </select>

    <input asp-for="Comision" class="form-control mb-2" placeholder="Comisión %" />

    <button class="btn btn-success">Guardar</button>

</form>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
