@model WebApplicationAPP.Models.Cita

<div class="card p-3">

    <h4>Appointment Found</h4>

    <p><b>Name:</b> @Model.NombreDeLaPersona</p>
    <p><b>Email:</b> @Model.Correo</p>
    <p><b>Service:</b> @Model.Servicio.Nombre</p>
    <p><b>Total:</b> ₡@Model.MontoTotal</p>

</div>
