@model WebApplicationAPP.Models.Servicio

<h2>Create Service</h2>

<form asp-action="Create" method="post">
    <input asp-for="Nombre" placeholder="Name" class="form-control" />
    <input asp-for="Descripcion" placeholder="Description" class="form-control" />
    <input asp-for="Monto" placeholder="Price" class="form-control" />
    <input asp-for="IVA" placeholder="IVA" class="form-control" />
    <input asp-for="Especialidad" placeholder="Specialty" class="form-control" />
    <input asp-for="Especialista" placeholder="Specialist" class="form-control" />
    <input asp-for="Clinica" placeholder="Clinic" class="form-control" />

    <button class="btn btn-success mt-2">Save</button>
</form>
